*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 100%;
    height: 130vh;
    background-image:linear-gradient(rgba(37, 37, 37, 0.3),rgba(48, 48, 48, 0.5)) , url('https://themebeyond.com/html/movflx/img/banner/banner_bg01.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position-x: right;
}
