@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.style{
    padding-left: 25px;
    margin-bottom: 30px;
}
.card{
    border: none;
    transition: 2s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.01);
}

.card__content{
    padding-left: 6px;
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#title{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgba(255,255,255);
    font-weight: 600px;
    font-style: normal;
    cursor: pointer;
}

#title:hover{
    color: rgb(228, 216, 4);
}

.cards{
    display: flex;
}

@media (max-width: 569px){
    .cards{
        flex-direction: column;
    }
}



